/* Featurettes
------------------------- */

.bg-about {
	background-color: rgb(233, 223, 232);
}

.featurette-divider {
	margin: 5rem 0;
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 600;
	line-height: 1;
	letter-spacing: -.05rem;
}

/* normal transition */
.size-images {
	/* max-width: 400px !important; */
	transition: all .5s ease-in-out;
}

.image-container {
	margin: 25px auto;
		max-width: 300px;
}

.image-container:hover .size-images {
	display: none;
}

.normal-hide {
	display: none;
}

.image-container:hover .normal-hide {
	display: block;
	transform: scale(1.4) rotate(0.5deg);
}

.contact {
	max-width: 900px !important;
	margin-top: 35px;
}

.form {
	margin: 20px;
}

.form input {
	display: block;
	/* margin-top: 10px;
	margin-bottom: 10px; */
	margin: 15px auto;
	width: 100%;
}
.rounded-4 {
	border-radius: .5rem;
}

.rounded-5 {
	border-radius: 1rem;
}

.text-shadow-1 {
	text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
	text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
	text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


/* Project 1 */
.bg-1 {
	background-image: url('../images/knowledge_hub.png');
}


/* Project 2 */
.bg-2 {
	color: rgb(0, 0, 0);
	background-image: url('../images/booksearch.png');
}

.bg-3 {
	color: rgb(0, 0, 0);
	background-image: url('../images/jetset_profile.png');
}

.bg-15 {
	background-image: url('../images/password_generator.png');
}